body {
    font-size: 16px;
    color: #fff;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
  }

  

  /************** HEADER **************/
  #header-nav {
    background-color: #000000;
    border-radius: 0;
    border: 0;
    margin-bottom: 0px;
  }
  
  #logo-img {
    background: url('images/Mask.png');
    width: 50px;
    height: 50px;
    margin: 15px 15px 10px 15px;
    background-size: contain;
  }
  
  #nav-list {
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
  }
  #nav-list a {
    color: #ffffff;
    text-align: center;
    font-size: 1.15em;
    padding: 10px 0px 10px 50px;
    opacity: .8;
  }
  #nav-list a:hover {
    transform: scale(1.05);
    opacity: 1;
  }
   
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: none;
    color: #ffffff;
  }
  .navbar-header button.navbar-toggle {
    /* clear: both; */
    margin-top: 20px;
  }
  
  /************** END HEADER **************/
  


  /************** FOOTER **************/
  footer.panel-footer {
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: rgb(0, 0, 0);
    border-top: 0;
    height: auto;
  }

  #talk {
    width: 70%;
    margin-left: 10%;
  }
  #talk h2 {
    font-family: 'Poppins' , sans-serif;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 30px;
  }
  #talk p {
    font-family: 'Poppins' , sans-serif;
    color: #ffffff;
    font-weight: 100;
    font-size: 1.2em;
    opacity: .87;
    line-height: 1.5em;
  }
  #talk a {
    font-size: 1.1em;
    line-height: 2.4em;
    color: aqua;
    opacity: .7;
  }
  #talk a:hover {
    font-size: 1.1em;
    text-decoration: none;
    display: inline-block;
    color: aqua;
    opacity: 1;
  }

  #social {
    width: 80%;
    margin-left: 10%;
  }
  #social h2 {
    font-family: 'Poppins' , sans-serif;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 30px;
  }

 #behance , #dribbble , #medium , #instagram , #linkedin , #github{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #2B2D2F;
 }
 #behance:hover {
   background-color: #053eff;
 }
 #dribbble:hover {
  background-color: #ea4c89;
 }
 #medium:hover {
  background-color: #11100E;
 }
 #instagram:hover {
  background-image: url(images/insta-bg.jpg);
  background-size: cover;
 }
 #linkedin:hover {
  background-color: #0e76a8;
 }
 #github:hover {
  background-color: #2dba4e;
 }
 #dribbble img , #medium img , #instagram img , #linkedin img , #github img{
  padding: 25% 25% 25% 25%;
  /* margin: 10% 10% 10% 10%; */
 }
 #behance img {
  padding: 35% 25% 25% 25%;
 }
 #behance img:hover ,#dribbble img:hover , #medium img:hover , #instagram img:hover , #linkedin img:hover , #github img:hover {
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg) scale(.9);
 }
 #behance img:focus ,#dribbble img:focus , #medium img:focus , #instagram img:focus , #linkedin img:focus , #github img:focus {
  transition: transform 0.4s ease-out;
  transform: rotateZ(360deg) scale(.9);
 }

  /************** END FOOTER **************/
  

  
  /************** SCROLL **************/
  * {
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
  }
  section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
  }
  
  .demo a {
    position: absolute;
    left: 50%;
    bottom: 90%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #ffffff;
    font : normal 400 'Montserrat', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    opacity: .7;
  }
  .demo a:hover {
    opacity: 1;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font : normal 400 'Montserrat', sans-serif;
  }
  
  #scroll a {
    padding-top: 0px;
  }
  #scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 1.5px solid #ffffff;
    border-radius: 50px;
    box-sizing: border-box;
  }
  #scroll a span:hover {
    border: 2px solid aqua;
  }
  #scroll a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #ffffff;
    border-radius: 100%;
    box-sizing: border-box;
  }
  #scroll a span:hover::before {
    background-color: aqua;
  }
  /************** END SCROLL **************/



  /************** HOME PAGE **************/
  

  /*** Intro ***/
  #intro {
    background-color: black;
    font-family: 'Muli' , sans-serif;
    color: #ffffff;
    height: 90vh;
    margin-bottom: 100px;
  }
  #intro h1 {
    /* font-family: 'Montserrat' , sans-serif; */
    margin: 0px;
    padding-top: 200px;
    padding-bottom: 15px;
    font-weight: 900;
    text-align: center;
    font-size: 6em;
    display: block;
  }
  #intro h2 {
    /* font-family: 'Montserrat' , sans-serif; */
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: 100;
    text-align: center;
    font-size: 2.8em;
    line-height: 1.5em;
    opacity: .8;
  }
  #intro h4 {
    /* font-family: 'Montserrat' , sans-serif; */
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 25%;
    padding-right: 25%;
    font-weight: lighter;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.6em;
    opacity: .6;
  }
  #intro a {
    color: aqua;
    text-decoration: none;
    display: inline-block;
  }
  #intro a:hover {
    /* transition: transform 0.4s ease-out;
    transform: scale(1.01); */
    text-decoration: none;
    display: inline-block;
  }
  /*** Intro ***/


  /*** Portfolio cards ***/
  #main-content h3 {
    font-size: 3.5em;
    font-family: 'Poppins' , sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 5%;
  }

  #PPcover, #DEcover, #DTcover {
    height: 200%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    align-self: center;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    border: 0px ;
    overflow: hidden;
    box-shadow: 5px 10px 15px #ebebeb;
  }
  #PPcover span, #DEcover span, #DTcover span {
    position: relative;
    bottom: 20px;
    width: 100%;
    text-align: left;
    font-size: 2em;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    opacity: .8;
  }

  #PPcover h5, #DEcover h5, #DTcover h5 {
    opacity: .54;
    margin-left: 5%;
    font-size: .55em;
  }
  #PPcover h2, #DEcover h2, #DTcover h2 {  
    font-weight: 900;
    margin: 5px 0px 15px 0px;
    margin-left: 5%;
    font-size: 1.1em;
  }
  #PPcover h6, #DEcover h6, #DTcover h6 {
    font-weight: 500;
    font-size: .5em;
    margin: 10px 30px 10px 5%;
    opacity: .87;
    line-height: 1.5em;
  }

  .image-wrapper {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    font-size: 0;
  }
  img {
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  .image-wrapper:hover img {
    transform: scale(1.1);
  }
  /*** Portfolio cards ***/


  /*** Plugin card ***/
  #plugin {
    height: 500px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    align-self: center;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
    border: 0px ;
    overflow: hidden;
    box-shadow: 5px 10px 15px #ebebeb;
  }
  #plugin {
    background-image: url(images/Plugin.png);
    background-size: cover;
  }
  #plugin span {
    position: relative;
    bottom: -100px;
    width: 100%;
    height: 0em;
    text-align: left;
    font-size: 2em;
    font-family: 'Poppins' , sans-serif;
    font-weight: bold;
    margin-left: 20px;
    color: #ffffff;
    opacity: .8;
  }

  #plugin h5 {
    opacity: .54;
    margin-left: 5%;
    font-size: .55em;
    font-weight: 100;
  }
  #plugin h2 {  
    font-weight: 800;
    margin: 2% 0px 15px 0px;
    margin-left: 5%;
    font-size: 1.1em;
  }
  #plugin h6 {
    font-weight: 100;
    font-size: .5em;
    margin: 3% 60% 10px 5%;
    opacity: .87;
    line-height: 1.7em;
  }

  #CTA {
    border: 2px #ffffff;
    font-family: 'Poppins' , sans-serif;
    font-size: .5em;
    margin-left: 5%;
    /* font-weight: 500; */
    margin-top: 3%;
  }
  #CTA a {
    background-color: #2B2D2F;
    color: #ffffff;
    border: 1.5px solid #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 12px 30px;
    font-weight: 300;
  }
  #CTA a:hover {
    text-decoration: none;
    display: inline-block;
    background-color: #ffffff;
    color: #2B2D2F;
    font-weight: 700;
  }
  /*** Plugin card ***/


  /*** Blogs card ***/
  #blog {
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
  }
  #blog h2 {
    font-family: 'Poppins' , sans-serif;
    font-size: 1.7em;
    font-weight: 900;
    line-height: 1.4em;
    color: black;
    opacity: .87;
  }
  #CTA2 {
    border: 2px #000000;
    font-family: 'Poppins' , sans-serif;
    font-size: 1.1em;
    /* margin-left: 5%; */
    /* font-weight: 500; */
    margin-top: 8%;
  }
  #CTA2 a {
    background-color: #ffffff;
    color: #000000;
    border: 1.5px solid #000000;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 500;
  }
  #CTA2 a:hover {
    text-decoration: none;
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    font-weight: 400;
  }
  /*** Blogs card ***/

  /************** END HOME PAGE **************/
  


  /************** ABOUT PAGE **************/
  #about {
    height: 650px;
    /* width: 100vw; */
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    background-color: black;
    /* background: url(images/About.png);
    background-position: top center;
    background-size: cover; */
  }
  #profile {
    height: 500px;
    width: 80%;
    margin-left: 36%;
    margin-top: 16%;

    background: url(images/Profile.png);
    background-position: center top;
    background-size: cover;
  }
  #explain {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    color: cornsilk;
  }
  #explain p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    line-height: 1.5em;
    text-align: justify;
  }
  #explain h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 900;
    text-justify: auto;
  }


  #about2 {
    height: 650px;
    /* width: 100vw; */
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
    /* background: url(images/About.png);
    background-position: top center;
    background-size: cover; */
  }
  #profile2 {
    height: 500px;
    width: 80%;
    margin-left: -28%;
    margin-top: 16%;

    background: url(images/Profile2.jpg);
    background-position: center top;
    background-size: cover;
  }
  #explain2 {
    width: 55%;
    margin-left: 18%;
    margin-right: 0%;
    margin-top: 10%;
    color: #000000;
  }
  #explain2 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    font-weight: 100;
    line-height: 1.5em;
    text-align: justify;
  }
  #explain2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    font-weight: 900;
    text-justify: auto;
  }

  /************** END ABOUT PAGE **************/
  
  

  /********** Large devices only **********/
  @media (min-width: 1200px) {
    #plugin {
      background-image: url(images/Plugin.png);
      background-size: cover;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    /* Header */

    /* End Header */
  
    /* Home Page */
    #plugin {
      height: 370px;
    }
    #plugin {
      background-image: url(images/Plugin-md.png);
      background-size: cover;
    }
    #plugin span {
      position: relative;
      bottom: -40px;
      width: 100%;
    }

    .demo a {
      bottom: 90%;
    }
    #intro h1 {
      font-size: 6em;
    }
    #intro h2 {
      font-size: 2.8em;
    }
    /* End Home Page */

    /* About Page */
    #about {
      height: 650px;
      margin-bottom: 15px;
    }
    #profile {
      height: 500px;
      margin-left: 30%;
      width: 90%;
    }
    #explain {
      margin-left: 18%;
      width: 70%;
    }

    #about2 {
      height: 650px;
      margin-bottom: 15px;
    }
    #profile2 {
      height: 500px;
      margin-left: -16%;
      width: 90%;
    }
    #explain2 {
      margin-left: 12%;
      width: 70%;
      margin-right: 0%;
    }
    /*End About Page */
  }
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    /* Header */
    #logo-img {
      margin: 15px 15px 10px 15px;
    }
    /* End Header */

    /* Home Page */
    #plugin {
      height: 320px;
    }
    #plugin {
      background-image: url(images/Plugin-sm.png);
      background-size: cover;
    }
    #plugin span {
      position: relative;
      bottom: 0px;
      width: 100%;
    }
    #plugin h6 {
      margin-right:50%;
    }

    .demo a {
      bottom: 90%;
    }
    #intro h1 {
      font-size: 5em;
    }
    #intro h2 {
      font-size: 2.4em;
    }
    /* End Home Page */

    /* About Page */
    #about {
      height: 1500px;
      margin-bottom: 15px;
    }
    #profile {
      height: 700px;
      margin-left: 20%;
      width: 60%;
    }
    #explain {
      margin-left: 20%;
      width: 60%;
    }

    #about2 {
      height: 1500px;
      margin-bottom: 15px;
    }
    #profile2 {
      height: 700px;
      margin-left: 20%;
      width: 60%;
    }
    #explain2 {
      margin-left: 20%;
      width: 60%;
    }
    /* End About Page */

    /* Footer */
    #talk {
      width: 80%;
      margin-left: 0%;
    }
    #social {
      width: 90%;
      margin-left: 10%;
    }
    #behance , #dribbble , #medium , #instagram , #linkedin , #github{
      width: 40px;
      height: 40px;
      border-radius: 25px;
      background-color: #2B2D2F;
     }
    /* End Footer */

  }
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) {
    /* Header */
    #collapsable-nav a { /* Collapsed nav menu text */
      font-size: 1.2em;
    }
    #collapsable-nav a span { /* Collapsed nav menu glyph */
      font-size: 1em;
      margin-right: 5px;
    }
    /* End Header */
  
    /* Footer */
    .panel-footer section {
      margin-bottom: 30px;
      text-align: center;
    }
    .panel-footer section:nth-child(3) {
      margin-bottom: 0; /* margin already exists on the whole row */
    }
    .panel-footer section hr {
      width: 50%;
    }
    /* End Footer */
  
    /* Home Page */
    #PPcover, #DEcover {
      width: 360px;
      margin: 15px auto 15px;
    }
  
    #plugin {
      height: 500px;
      width: 360px;
      margin: 10px auto 10px auto;
    }
    #plugin {
      background-image: url(images/Plugin-xs.png);
      background-size: cover;
    }
    #plugin span {
      position: relative;
      bottom: 10px;
      width: 100%;
    }
    #plugin h6 {
      margin-right: 10%;
    }

    .demo a {
      bottom: 90%;
    }
    #intro h1 {
      font-size: 5em;
    }
    #intro h2 {
      font-size: 2.4em;
    }
    /* End Home Page */

    /* About Page */
    #about {
      height: 1450px;
      margin-bottom: 15px;
    }
    #profile {
      height: 700px;
      margin-left: 10%;
      width: 80%;
    }
    #explain {
      margin-left: 10%;
      width: 80%;
    }

    #about2 {
      height: 1400px;
      margin-bottom: 15px;
    }
    #profile2 {
      height: 700px;
      margin-left: 10%;
      width: 80%;
    }
    #explain2 {
      margin-left: 10%;
      width: 80%;
    }
    /* End About Page */

    /* Footer */
    #talk {
      width: 80%;
      margin-left: 10%;
    }
    #social {
      width: 80%;
      margin-left: 10%;
    }
    /* End Footer */
    
  }
  

  
  /********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
  @media (max-width: 479px) {
    /* Header */
    .navbar-brand h1 { /* Restaurant name */
      padding-top: 5px;
      font-size: 6vw;
    }
    /* End Header */
    
    /* Home page */
    .col-xxs-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
      float: left;
      width: 100%;
    }
    #plugin {
      background-image: url(images/Plugin-xs.png);
      background-size: cover;
    }

    .demo a {
      bottom: 90%;
    }
    #intro h1 {
      font-size: 3.8em;
    }
    #intro h2 {
      font-size: 2em; 
      padding-left: 10%;
      padding-right: 10% ;
    }
    /* End Home page */

    /* About page */
    #about {
      height: 1600px;
      margin-bottom: 15px;
    }
    #profile {
      height: 700px;
      margin-left: 10%;
      width: 80%;
    }
    #explain {
      margin-left: 10%;
      width: 80%;
    }

    #about2 {
      height: 1500px;
      margin-bottom: 15px;
    }
    #profile2 {
      height: 700px;
      margin-left: 10%;
      width: 80%;
    }
    #explain2 {
      margin-left: 10%;
      width: 80%;
    }
    /*End About page */

    /* Footer */
    #talk {
      width: 80%;
      margin-left: 10%;
    }
    #social {
      width: 80%;
      margin-left: 10%;
    }
    #behance , #dribbble , #medium , #instagram , #linkedin , #github{
      width: 40px;
      height: 40px;
      border-radius: 25px;
      background-color: #2B2D2F;
     }
    /* End Footer */
  }
  